=phoneClass()
    border: 2px solid $brown-dark
    border-radius: 0.5rem
    padding: 0.3rem 0.7rem
    font-size: 1.05rem
    cursor: pointer

    &:hover
        background-color: $brown-dark

    &:active
        background-color: white