@import "../nav-item/nav-item.sass"

=headerClass()
    .menu
        display: flex
        height: auto
        font-family: BebasNeueRegular
        font-size: 1.5em

        &__item
            +navItemClass()