@font-face {
    font-family: "BebasNeueRegular";
    src: url("../public/fonts/BebasNeueRegular.eot"); /* IE9 Compat Modes */
    src: url("../public/fonts/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../public/fonts/BebasNeueRegular.otf") format("opentype"), /* Open Type Font */
      url("../public/fonts/BebasNeueRegular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../public/fonts/BebasNeueRegular.woff") format("woff"), /* Modern Browsers */
      url("../public/fonts/BebasNeueRegular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "BebasNeueBook";
  src: url("../public/fonts/BebasNeueBook.eot"); /* IE9 Compat Modes */
  src: url("../public/fonts/BebasNeueBook.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../public/fonts/BebasNeueBook.otf") format("opentype"), /* Open Type Font */
    url("../public/fonts/BebasNeueBook.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../public/fonts/BebasNeueBook.woff") format("woff"), /* Modern Browsers */
    url("../public/fonts/BebasNeueBook.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../public/fonts/Montserrat.eot"); /* IE9 Compat Modes */
  src: url("../public/fonts/Montserrat.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../public/fonts/Montserrat.otf") format("opentype"), /* Open Type Font */
    url("../public/fonts/Montserrat.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../public/fonts/Montserrat.woff") format("woff"), /* Modern Browsers */
    url("../public/fonts/Montserrat.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}