@import "./fonts.css";

@import "./components/app/app.sass";
@import "./components/header/header.sass";
@import "./components/image/image.sass";
@import "./components/main-title/main-title.sass";
@import "./components/price/price.sass";
@import "./components/order/order.sass";

$brown-dark: #D3C1A2
$brown-light: #C7AF8A
$black: #444444

body
    color: $black
    margin: 0
    padding: 0
    font-family: BebasNeueRegular sans-serif
    font-size: 62.5%
    width: 1920px
    background: url('/img/forest.png') no-repeat

+app()
+imageClass()
+headerClass()
+mainTitleClass()
+priceClass()